/* ------------------------------------------------ */
@font-face {
  font-family: "Barlow-Bold";
  src: url("fonts/Barlow-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Barlow-Light";
  src: url("fonts/Barlow-Light.otf") format("opentype");
}
@font-face {
  font-family: "Barlow-Regular";
  src: url("fonts/Barlow-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Barlow-Medium";
  src: url("fonts/Barlow-Medium.otf") format("opentype");
}
:root {
  --color-body-bg: #eff6ff;
  --color-main-bg: #ffffff;
  --color-body-text: #2a4a5c;
  --color-button-fb: #255a9b;
  --color-button-in: #0076b6;
  --color-button-create: #3698fb;
  --color-text-medium: #7b8a92;
  --color3: #96a5b1;
  --color-text-light: #afafaf;
  --color-border-light: #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Barlow-Regular", "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02rem;
  color: var(--color-body-text);
  background: var(--color-body-bg);
}

@media only screen and (max-width: 1230px) {
  body {
    font-size: 16px;
  }
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1225px;
  margin: 2rem auto;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

@media only screen and (max-width: 1360px) {
  .wrapper {
    width: 90%;
  }
}
@media only screen and (max-width: 800px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 650px) {
  .wrapper {
    width: 100%;
    margin: 0;
  }
}
/* ------------------------------------------------ */
header {
  position: relative;
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 53%;
  min-height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 2 auto;
          flex: 0 2 auto;
}
header img {
  position: absolute;
  top: 2.2rem;
  left: 2.8rem;
  height: 1.5rem;
}

@media only screen and (max-width: 800px) {
  header {
    width: 100%;
    height: 200px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    background-position: left center;
  }
}
main {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 500px;
          flex: 2 0 500px;
  background-color: var(--color-main-bg);
  width: 47%;
  padding: 4.9rem 3.7rem;
  padding-right: 4.1rem;
}

@media only screen and (max-width: 800px) {
  main {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    padding: 1.5rem 3rem;
    padding-bottom: 4rem;
  }
}
@media only screen and (max-width: 650px) {
  main {
    padding: 0.5rem 2rem;
    padding-bottom: 4rem;
  }
}
@media only screen and (max-width: 380px) {
  main {
    padding: 0.5rem 1.5rem;
    padding-bottom: 4rem;
  }
}
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}
.buttons__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  font-family: "Barlow-Light", "Open Sans", sans-serif;
  font-size: 0.7rem;
  color: #ffffff;
  padding: 0.65rem;
  width: 47%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.buttons__btn:hover, .buttons__btn:focus {
  -webkit-box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
}
.buttons__btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.buttons__btn img {
  width: 1rem;
  margin-right: 0.7rem;
}
.buttons__btn--fb {
  background-color: var(--color-button-fb);
}
.buttons__btn--in {
  background-color: var(--color-button-in);
}
@media only screen and (max-width: 500px) {
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .buttons__btn {
    width: 270px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .buttons__btn:nth-child(1) {
    margin-bottom: 1rem;
  }
}

.or {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.7rem 0 2.25rem;
}
.or__line {
  width: 6rem;
  border-top: 0.2px solid var(--color-border-light);
}
.or__text {
  font-size: 0.7rem;
  color: var(--color-text-light);
  margin: 0 0.3rem;
}

.reg-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
}
.reg-data__field {
  position: relative;
  width: 47%;
  height: 3.1rem;
}
.reg-data__field label {
  position: absolute;
  top: 0.3rem;
  left: 0.6rem;
  font-size: 0.7rem;
}
.reg-data__field input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-border-light);
  font-size: 0.9rem;
  padding: 0.9rem 0 0 0.6rem;
}
.reg-data__field input:hover, .reg-data__field input:focus {
  outline: none;
  border-left: 1.5px solid var(--color-button-create);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media only screen and (max-width: 500px) {
  .reg-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reg-data__field {
    width: 270px;
  }
  .reg-data__field:nth-child(1) {
    margin-bottom: 1rem;
  }
}

.type-investor {
  font-size: 0.75rem;
  margin-bottom: 3rem;
}
.type-investor h4 {
  margin-bottom: 2.65em;
  color: var(--color-text-medium);
}
.type-investor__radio-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5em;
}
.type-investor label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  padding-left: 2.3em;
  padding-right: 1em;
}
@media only screen and (max-width: 800px) {
  .type-investor__radio-wrapp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .type-investor label {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
.type-investor input {
  position: absolute;
  left: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.type-investor input::before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1.5px solid var(--color-text-light);
  border-radius: 50%;
}
.type-investor input:hover::before {
  border: 1.5px solid black;
}
.type-investor input:checked::before {
  border: 3px solid var(--color-button-create);
}
.type-investor__help {
  font-size: 0.7em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--color-text-light);
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  margin-left: 1em;
  color: var(--color-text-light);
}
.type-investor__modal {
  font-size: 1.3em;
  color: #ffffff;
  display: none;
  position: absolute;
  left: 1.3em;
  bottom: 1.4em;
  min-width: 10em;
  padding: 0.6em;
  background-color: rgb(114, 113, 113);
  border-radius: 0.3em;
  -webkit-box-shadow: -2px 2px 2px 2px rgba(34, 60, 80, 0.2);
          box-shadow: -2px 2px 2px 2px rgba(34, 60, 80, 0.2);
}
.type-investor__help:hover .type-investor__modal {
  display: block;
}
.type-investor__info {
  color: var(--color-text-light);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 8px 1px rgba(34, 60, 80, 0.2);
  width: 15rem;
  padding: 0.6rem;
}

.agree {
  font-size: 0.7rem;
  margin-bottom: 3rem;
}
.agree label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.agree input {
  margin-right: 1em;
}
.agree a {
  color: var(--color-button-create);
}

.button-create {
  font-size: 0.8rem;
  color: #ffffff;
  background-color: var(--color-button-create);
  border: none;
  padding: 0.65rem 4rem;
  border-radius: 0.3rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-create:hover, .button-create:focus {
  -webkit-box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
}
.button-create:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 500px) {
  .just-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}