/* ------------------------------------------------ */
//
@font-face {
  font-family: 'Barlow-Bold';
  src: url('fonts/Barlow-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Barlow-Light';
  src: url('fonts/Barlow-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Barlow-Regular';
  src: url('fonts/Barlow-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Barlow-Medium';
  src: url('fonts/Barlow-Medium.otf') format('opentype');
}

:root {
  --color-body-bg: #eff6ff;
  --color-main-bg: #ffffff;
  --color-body-text: #2a4a5c;
  --color-button-fb: #255a9b;
  --color-button-in: #0076b6;
  --color-button-create: #3698FB;
  --color2: #7B8A92;
  --color3: #96A5B1;
  --color-text-light: #AFAFAF;
  --color-border-light: #EEEEEE;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Barlow-Regular', 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.02rem;
  color: var(--color-body-text);
  background: var(--color-body-bg);
}

@media only screen and (max-width: 1230px) {
  body {
    font-size: 16px;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
}

.wrapper {
  display: flex;
  width: 1225px;
  margin: 2rem auto;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

@media only screen and (max-width: 1360px) {
  .wrapper {
    width: 90%
  }
}

/* ------------------------------------------------ */
@import 'header';
@import 'main';
